{{page-title 'Tread Lightly'}}

<ol>
  {{#each @model as |card|}}
    <li>{{card.title}}
      ({{card.side.name}}
      -
      {{card.faction.name}})
      {{if (this.isCorp card.side.name) 'C' 'R'}}</li>
  {{/each}}
</ol>

{{outlet}}